[submodule "python_basics"]
	path = python_basics
	url = https://github.com/sunnyV0207/data-visualization-python-basics
[submodule "excel_basics"]
	path = excel_basics
	url = https://github.com/sunnyV0207/data-visualization-excel-basics



# git filter-branch --env-filter '
# OLD_EMAIL="sunnyvermaverma2005@gmail.com"
# CORRECT_NAME="sharmanishant1612"
# CORRECT_EMAIL="nishantsharma7716@gmail.com"

# if [ "$GIT_COMMITTER_EMAIL" = "$OLD_EMAIL" ]
# then
#     export GIT_COMMITTER_NAME="$CORRECT_NAME"
#     export GIT_COMMITTER_EMAIL="$CORRECT_EMAIL"
# fi
# if [ "$GIT_AUTHOR_EMAIL" = "$OLD_EMAIL" ]
# then
#     export GIT_AUTHOR_NAME="$CORRECT_NAME"
#     export GIT_AUTHOR_EMAIL="$CORRECT_EMAIL"
# fi
# ' --tag-name-filter cat -- --branches --tags
